nav {
    font-family: Arial;
    background-color: powderblue;
    background-size: cover;
    margin: 10;
    padding: 10;

}

main {
    font-family: Arial;
    background-color: powderblue;
    background-size: cover;
    margin: 10;
    padding: 10;
}

h1 {

    background-color: powderblue;
    background-size: cover;
}

p {
    background-color: powderblue;
}

form {

    font-family: Arial;
}

footer {
    text-align: center;
}