* {
  margin: 0;
  padding: 0;
}
body {
  font-family: "Lexend Deca", sans-serif;
  background: steelblue;
  color: black;
}
head2 {
  text-align: center;
  padding: 25px;
}

.pricebox1 {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.pricing-table1 {
  text-align: center;
  margin: 20px;
  box-shadow: 1px 5px 30px rgba(0, 0, 0, 0.5);
}

.pricing-table2 {
  text-align: center;
  margin: 20px;
  box-shadow: 1px 5px 25px rgba(0, 0, 0, 0.5);
}

.pricing-table3 {
  text-align: center;
  margin: 20px;
  box-shadow: 1px 5px 15px rgba(0, 0, 0, 0.5);
}

h1 {
  font-size: 40px;
  letter-spacing: 2px;
  text-transform: uppercase;
}
h3 {
  font-size: 30px;
  padding: 7px;
}

ul {
  list-style-type: none;
  margin-right: 50px;
}
li {
  padding: 20px 15px;
  font-size: 22px;
}

.price-table1 {
  background-color: slategray;
  display: block;
  margin: 0 auto;
  width: 82%;
  padding: 15px;
  border-radius: 10px;
  text-decoration: none;
  color: #fff;
}
.price-table2 {
  background-color: dimgrey;
  display: block;
  margin: 0 auto;
  width: 82%;
  padding: 15px;
  border-radius: 10px;
  text-decoration: none;
  color: #fff;
}
.price-table3 {
  background-color: lightslategray;
  display: block;
  margin: 0 auto;
  width: 82%;
  padding: 15px;
  border-radius: 10px;
  text-decoration: none;
  color: #fff;
}

a {
  font-size: 18px;
}
