* {
  margin: 0;
  padding: 0;
}
body {
  font-family: "Lexend Deca", sans-serif;
}
header {
  background-color: royalblue;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.center {
  text-align: center;
  font-size: 32px;
  margin: 20px;
}

.button {
  line-height: 3;
  border-radius: 20px;
  background-color: #9ede24;
  text-decoration: none;
  width: 150px;
  color: white;
  display: inline-block;
  font-size: medium;
  margin-top: 40px;
}
