/*--div-1--*/
.main-body {
  background-color: rgb(252, 248, 248);
  width: 970px;
  height: 540px;
  margin: auto;
  margin-top: 30px;
  padding: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: #000000 2px;
}
/*--div-2--*/
.content {
  background-color: white;
  width: 830px;
  height: 310px;
  display: flex;
  justify-content: space-between;
  align-items: end;
  border: solid #e8e3e3 1px;
}
/*--left-content--*/
.left-column {
  width: 50%;
  height: 100%;
  border-right: solid #bababa 1px;
  display: flex;
  justify-content: center;
  align-items: start;
  flex-direction: column;
}

.top-left-photo {
  height: 120px;
  width: 120px;
}

.left-photo {
  height: 120px;
  width: 120px;
  margin-left: 150px;
  margin-bottom: 10px;
}

.left-text-top {
  width: 380px;
  border-top: solid #bababa 1px;
  margin-left: 11px;
  font-family: sans-serif;
  font-size: 9.9px;
  font-weight: bolder;
  height: 35px;
  padding-top: 7px;
  color: rgb(78, 76, 76);
}

.left-bottom-text {
  width: 380px;
  border-top: solid #bababa 1px;
  margin-left: 11px;
  margin-top: 9px;
  height: 80px;
  display: flex;
  justify-content: start;
  align-items: start;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 10px;
  font-weight: bolder;
  color: rgb(94, 90, 90);
}

.button button {
  width: 380px;
  margin-left: 11px;
  margin-top: 8px;
  font-weight: normal;
  background-color: #20a8d8;
  border-color: #20a8d8;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 11px;
}

button:hover {
  background-color: rgb(57, 130, 139);
}

.right-column {
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: column;
}

.right-photo {
  width: 375px;
  height: 140px;
  margin-top: 50px;
}

.top-right-photo {
  width: 380px;
  height: 140px;
}

.bottom-right-text {
  border-top: solid #bababa 1px;
  height: 40px;
  margin-top: 10px;
  display: flex;
  justify-content: center;
  font-size: 12px;
  font-weight: bolder;
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(94, 90, 90);
}
