/*--div-1--*/
.main-body {
  background-color: rgb(230, 221, 221);
  width: 1150px;
  height: 650px;
  margin: auto;
  margin-top: 30px;
  padding: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}
/*--div-2--*/
.content {
  background-color: white;
  width: 950px;
  height: 335px;
  display: flex;
  justify-content: start;
  border: 10px;
}
.right-content {
  background-color: red;
  width: 50%;
  height: 185px;
}
/*--div-3--*/
.photos {
  border: 1px;
  background-color: blue;
  width: 50%;
  height: 185px;
  display: flex;
  justify-content: center;
}
.photo-left {
  height: 120px;
  display: flex;
  justify-content: center;
}

.photo-right {
  height: 160px;
}
