.main-body {
  background-color: white;
  width: 48%;
  margin: auto;
  padding: 30px;
  border-radius: 5px;
  background-color: crimson;
}

body {
  padding-top: 115px;
  background-color: blanchedalmond;
}

.main-head {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.bullet-point1 {
  display: flex;
  align-items: center;
  justify-content: end;
  background-color: aqua;
}

a {
  text-align: right;
}

.nav {
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  align-items: center;
  margin-top: 10px;
  background-color: pink;
}
/*beweeg groen blok*/
.content {
  display: flex;
  justify-content: center;
  align-items: start;
  margin-top: 20px;
  margin-left: 9px;
  background-color: powderblue;
}
