.main-body {
  background-color: white;
  width: 650px;
  margin: auto;
  padding: 30px;
  border-radius: 5px;
  background-color: white;
}

body {
  padding-top: 115px;
  background-color: rgb(241, 238, 238);
}

.main-head {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navigation {
  display: flex;
  flex-direction: row;
  margin-right: 20px;
  margin-top: 10px;
}

.top-page {
  display: flex;
  align-items: center;
  justify-content: end;
}

.photo-left {
  margin-left: 5px;
  margin-top: 15px;
}

.btn-four {
  margin-top: 40px;
  display: flex;
  justify-content: center;
  margin-left: 110px;
}

.top-content {
  display: flex;
  justify-content: center;
  align-items: end;
  padding-bottom: 20px;
  margin-left: 18px;
  margin-top: 43px;
  color: #444444;
  font-family: "Yantramanav", Arial, sans-serif;
  font-size: 40px;
  line-height: 46px;
  text-align: left;
  font-weight: 300;
  width: 230px;
}

.middle-content {
  display: flex;
  justify-content: end;
  align-items: center;
  width: 245px;
  height: 70px;
  margin-top: 22px;
  margin-left: 33px;
  padding-bottom: 25px;
  color: #666666;
  font-family: Arial, sans-serif;
  font-size: 16px;
  line-height: 30px;
}

.bottom-content {
  width: 300px;
  display: flex;
  justify-content: center;
  margin-bottom: 25px;
  margin-top: 10px;
}

button {
  background: #6dd795;
  border-radius: 5px;
  font-family: "Yantramanav", Arial, sans-serif;
  font-size: 14px;
  line-height: 18px;
  border-style: none;
  font-weight: 500;
  color: white;
  padding: 12px 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
  margin-right: 60px;
  width: 150px;
}

.photo-two {
  margin-left: 10px;
}

.text-one {
  display: flex;
  justify-content: center;
  margin-top: 35px;
  padding-bottom: 30px;
  color: #444444;
  font-family: "Yantramanav", Arial, sans-serif;
  font-size: 28px;
  line-height: 37px;
  font-weight: 300;
}

.paragraph-two {
  display: flex;
  justify-content: center;
  padding-bottom: 26px;
  color: #666666;
  font-family: Arial, sans-serif;
  font-size: 16px;
  line-height: 30px;
  width: 450px;
  height: 10px;
  margin-left: 40px;
  margin-top: 29px;
  text-align: center;
  margin-left: 70px;
}

.text-two {
  display: flex;
  justify-content: center;
  padding-bottom: 26px;
  color: #666666;
  font-family: Arial, sans-serif;
  font-size: 16px;
  line-height: 30px;
  width: 450px;
  height: 10px;
  margin-left: 40px;
  margin-top: 29px;
  text-align: center;
  margin-left: 70px;
}

.text-three {
  display: flex;
  justify-content: center;
  padding-bottom: 30px;
  color: #444444;
  font-family: "Yantramanav", Arial, sans-serif;
  font-size: 28px;
  line-height: 37px;
  font-weight: 300;
}

.btn {
  margin-top: 50px;
  display: flex;
  justify-content: center;
  margin-left: 60px;
}

.info-block {
  background-color: #f4f4f4;
  width: 290px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 384px;
  margin-top: 40px;
}

.double-pics {
  background-color: yellow;
  width: 100%;
  height: 200px;
  display: flex;
  align-items: end;
}

.photo-block {
  height: 100%;
  width: 53%;
}

.photo-block-two {
  height: 100%;
  width: 45%;
  margin-left: 12px;
}

.pen {
  flex-direction: row;
  display: flex;
  justify-content: space-between;
  height: 200px;
  margin-top: 10px;
}

.photo-left {
  margin-left: -7px;
  margin-top: 0px;
}

.photo-right {
  margin-right: 5px;
  margin-top: 0px;
}

.top-photo {
  margin-right: 5px;
  margin-top: 0px;
}
.middle-photo {
  margin-right: 5px;
  margin-top: 8px;
}

.hand {
  flex-direction: column;
  display: flex;
  justify-content: end;
  align-items: end;
  width: 49%;
}

.right-pics {
  flex-direction: row;
  display: flex;
  justify-content: center;
}

.right-container {
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 300px;
  margin-bottom: 8px;
}

.text {
  display: flex;
  justify-content: end;
  align-items: end;
  width: 250px;
  height: 100px;
  padding-bottom: 10px;
  color: #444444;
  font-family: "Yantramanav", Arial, sans-serif;
  font-size: 28px;
  line-height: 37px;
  font-weight: 300;
  margin-top: 20px;
  margin-left: 50px;
}

.paragraph {
  width: 198px;
  height: 100px;
  padding-bottom: 25px;
  color: #666666;
  font-family: Arial, sans-serif;
  font-size: 16px;
  line-height: 30px;
}

a {
  color: #000000;
  font-family: "Yantramanav", Arial, sans-serif;
  font-size: 16px;
  line-height: 20px;
  margin-right: 12px;
  font-weight: 500;
  text-decoration: none;
}

.bullet-point1 {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 15px;
}

.bullet-point2 {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 5px;
}

.bullet-point3 {
  display: flex;
  align-items: center;
  justify-content: end;
  margin-right: 7px;
}

.nav {
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  align-items: center;
  margin-top: 10px;
  background-color: pink;
}
/*beweeg groen blok*/
.content {
  display: flex;
  justify-content: center;
  align-items: start;
  margin-top: 20px;
  margin-left: 9px;
  background-color: powderblue;
}

.footer {
  background-color: white;
  flex-direction: column;
  width: 650px;
  margin: auto;
  padding: 50px;
}

.footer-top {
  display: flex;
  justify-content: space-between;
}

.logo-two {
  margin-top: 2px;
}

.facebook {
  margin-right: 5px;
}

.twitter {
  margin-right: 5px;
}

.instagram {
  margin-right: 5px;
}

.linkedin {
  margin-right: 2px;
}

.side-text {
  margin-top: 20px;
  padding-bottom: 15px;
  color: #999999;
  font-family: Arial, sans-serif;
  font-size: 14px;
  line-height: 18px;
}

.bottom-foot {
  display: flex;
  justify-content: space-between;
}

.bottom-right {
  text-decoration: underline;
  color: #999999;
  font-family: Arial, sans-serif;
  font-size: 14px;
  line-height: 18px;
}

.bottom-left {
  color: #999999;
  font-family: Arial, sans-serif;
  font-size: 12px;
  line-height: 16px;
  text-align: left;
}
