.main-body {
  background-color: white;
  width: 48%;
  margin: auto;
  padding: 30px;
  border-radius: 5px;
  background-color: grey;
}

body {
  padding-top: 115px;
  background-color: blanchedalmond;
}

.main-head {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navigation {
  display: flex;
  flex-direction: row;
  margin-right: 20px;
  margin-top: 10px;
}

.top-page {
  background-color: red;
  display: flex;
  align-items: center;
  justify-content: end;
}

.top-content {
  display: flex;
  justify-content: center;
  align-items: end;
  padding-bottom: 20px;
  margin-left: 18px;
  color: #444444;
  font-family: "Yantramanav", Arial, sans-serif;
  font-size: 40px;
  line-height: 46px;
  text-align: left;
  font-weight: 300;
  width: 230px;
}

.middle-content {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 230px;
  height: 70px;
  margin-top: 20px;
  margin-left: 18px;
  padding-bottom: 25px;
  color: #666666;
  font-family: Arial, sans-serif;
  font-size: 16px;
  line-height: 30px;
}

.bottom-content {
  display: flex;
  justify-content: center;
  background-color: silver;
  margin-bottom: 25px;
}

.right-container {
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: yellow;
  width: 100%;
  height: 300px;
}

a {
  margin-right: 20px;

  color: black;
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
  font-size: small;
}

.bullet-point1 {
  display: flex;
  align-items: center;
  margin-right: 15px;
}

.bullet-point2 {
  display: flex;
  align-items: center;
  justify-content: end;
  margin-right: 5px;
}

.bullet-point3 {
  display: flex;
  align-items: center;
  justify-content: end;
  margin-right: 7px;
}

.nav {
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  align-items: center;
  margin-top: 10px;
  background-color: pink;
}
/*beweeg groen blok*/
.content {
  display: flex;
  justify-content: center;
  align-items: start;
  margin-top: 20px;
  margin-left: 9px;
  background-color: powderblue;
}
